.ui-chart-pointer-tooltip-content-container {
    background:  #78D410 !important;
    color: #E4DFDF !important;
    border-color: pink !important;
}

.ui-tooltip-container {
    border-color: #252525 !important;
    color: #252525 !important;
    padding: 0px !important;
    /*background:  #E79DFA !important;*/
    /*z-index: 1000000;*/
    /*z-index: 300000 !important;*/
} 
 
.ui-tooltip-content {
    font-family: 'Titillium Web', Verdana, Tahoma, Arial, sans-serif;
    font-size: 0.75rem; 
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top:    0.15rem;
    padding-bottom: 0.15rem;
    padding-left:   0.5rem;
    padding-right:  0.5rem; 
    /*background: #D9951E;*/  
    /*z-index: 1000000;*/
}

.igToolbar {
    background: #585397;
    display: flex;
    flex-flow: row;
    width: calc(100% - 1.5rem);
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.igToolbar-title {
    width: 100%;
    color: #FFFFFF;
    /*font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;*/
    font-size: 1.25rem;
    font-weight: 600;    
}

.igToolbar-actions {
    display: flex;
    flex-flow: row;
    align-self: center;
    padding-bottom: 0.25rem;
}

.igUnselectable {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently */
} 

.igPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.igContent {
    background: white;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap; /* nowrap | wrap | wrap-reverse; */
    align-items: stretch;
    align-self: stretch;

    height: calc(100% - 1.25rem);
    width: calc(100% - 1.0rem);
    /* 
    padding: 0.5rem; */ 
    /*height: 100%;
    width: 100%;*/
    min-width: 200px;
    padding: 0rem;
    padding-right: 0.0rem; 
    padding-left: 1.0rem; 
    padding-bottom: 1.25rem;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.igOverflow {
    overflow-y: hidden;
    overflow-x: hidden;
}

.igLegend-badge {
    height: 0.8rem;
    width:  0.8rem;
    margin-left: 1.2rem;
    margin-right: 0.3rem;
    /*border-radius: 0.2rem;*/
    /*border-color: #676767;*/
    /*border-width: thin;*/
    /*border-style: solid;*/
}

.igLegend-label {
    /*font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;*/
    font-size: 0.8rem;
    text-align: center;
    vertical-align: top;
    height: auto;
    line-height: 1rem;
}


.igCandidate {
    /*font-family: 'Titillium Web', Verdana, Tahoma, Arial, sans-serif;*/
    
    width: auto; 
    display: flex;
    flex-flow: row;
    align-items: center;
    min-width: 13rem;
}

.igCandidate-value {  
    height: 4rem;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0px;
    /*padding-left: 1rem;*/ 
}

.igCandidate-name { 
    height: 100%;
    display: flex;
    flex-flow: column; 
    /*margin-bottom: -0.45rem;*/ 
    align-self: flex-end;
}

.igCandidate-name-first {  
    font-size: 1.0rem;
    letter-spacing: 0px;   
    margin-bottom: -0.7rem;
}

.igCandidate-name-last {  
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0px; 
}


.igCandidate-bar { 
    width: 100%;
    display: flex;
    flex-flow: row;    
    align-items: flex-end;
}

.igCandidate-target { 
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.igCandidate-target-house { 
    height: 2.2rem;
    width: auto;
}

.igCandidate-target-arrow { 
    height: auto;
    width: auto;
}

.igCandidate-target-line { 
    width: 100%;
    height: 2px; 
    background: #333333;
    border-bottom-color: black;
    border-bottom-width: thin;
    border-bottom-style: solid;
    margin-bottom: 0.2rem;
}

.igCandidate-target-value { 
    color: #333333;
    text-align: center;
    font: normal normal 600 17px/26px Titillium Web;
    font-size: 1rem; 
    letter-spacing: 0px;
    border-bottom-color: black;
    border-bottom-width: thin;
    border-bottom-style: solid;
    margin-bottom: 0rem;
    /*height: 1.4rem;*/ 
    line-height: 1;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
}

.igFill {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;    
    display: flex;
    flex-flow: column;
}

.igRelative {
    position: relative;
    align-items: center;
    justify-content: center;

    /*background: gray;*/
    /*width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
    margin: 0px;*/
}

.igHorizotnal {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.igVertical {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.igCenter {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.igOverlay { 
    /*height: 100%;
    width: 100%;*/
    top: 0;
    left: 0;
    position: absolute;
}

.igImage {
    width:  1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    padding-left:  0.5rem;
    padding-right: 0.5rem; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    cursor: pointer;
    opacity: inherit;
}

.igHover:hover {
    background: #736EB6;
}

.igText,
.igButton {  
    font-family: 'Titillium Web', Verdana, Tahoma, Arial, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
}
 
.igButton { 
    display: flex;
    flex-flow: row;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    /*max-width: 12rem;*/
    margin: 0px;
    color: #27265F;
    background: #FFFFFF;
    border-style: solid;
    border-color: #A7ADC6; 
    border-radius: 0rem 0rem 0rem 0rem;
    /*border-radius: .25rem 0px 0px .25rem;*/
    border-width: thin;
    padding: 0.0rem;
    /*padding: .375rem .75rem;*/
    vertical-align: middle;
    cursor: pointer;
    align-items: center;
    /*align-content: stretch;*/
    justify-content: center;
}
}

.igButton:active,
.igButton:hover  {
    color: #27265F;
    background: #E7EAF7;
    /*border-color: #C1BFBF;*/
}