@using Microsoft.AspNetCore.Components 
@using IgniteUI.Blazor.Controls
 
@inject IIgniteUIBlazor IgniteUIBlazor; 

@*style="height: calc(130px - 1rem); padding-top: 1rem; z-index: 300000;" *@ 

<div class="igFill igOverflow" style="background: white">

    @*@if (Election != null)
    {
           
    }*@
      
    <GeographicMap Height="100%" Width="100%" Zoomable="true"
                   @ref="HexMap"
                   BackgroundContent="@null">
                   @*SeriesMouseLeftButtonDownScript="onHexShapeMouseDown"*@
         
        <GeographicShapeSeries Outline="black" 
                               Brush="black" 
                               Thickness="1.0"
                               StyleShapeScript="onHexShapeStyle"
                               MarkerTemplateScript="onHexMarkerStyle"/> 
        
                               @*MarkerTemplateScript="onTemplateMarker"*@
         @*<GeographicSymbolSeries
            Name="labels" Title="HexMarkers"
            DataSource="@HexMarkers"
            LatitudeMemberPath ="Y"
            LongitudeMemberPath="X" 
            TransitionInDuration="0" TransitionDuration="0"
            ShowDefaultTooltip="true">
            <TooltipTemplate>
                     <div style="width: 200px; height: 70px; background: white">
                         <div style="color: red">series.Title</div>
                         <div style="color: red">item.StateCenterY</div>
                         <div style="color: red">context</div>
                     </div>
            </TooltipTemplate>
        </GeographicSymbolSeries>*@
    </GeographicMap>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Logger.WriteLine("ElectionHex OnInitialized");

        GeographicMapModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //Logger.WriteLine("ElectionHex OnInitializedAsync");

        await Task.Delay(1);
    }

    private GeographicMap         HexMap;
    private GeographicShapeSeries HexSeries;
    private ShapeDataSource       HexShapes;
    private Dictionary<string, StateInfo> StatesLookup;
    //private List<HexMarker>       HexMarkers;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Logger.WriteLine("ElectionHex Shapes Importing...");

            if (this.HexMap != null)
            {
                //HexSeries.StyleUpdated();
                HexSeries = (GeographicShapeSeries)this.HexMap.ActualSeries[0];
                HexSeries.ShapefileDataSource = (
                    new ShapeDataSource() {
                        Name="hexSeries",
                        //ImportCompletedScript = "onHexImportCompleted",
                        ShapefileSource = "shapes/usa_states_hex_map.shp",
                        DatabaseSource  = "shapes/usa_states_hex_map.dbf",
                        ImportCompleted = new EventCallback<AsyncCompletedEventArgs>(null,
                            (Func<AsyncCompletedEventArgs, Task>)OnImportCompleted)
                    }
                );
            }
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    protected async Task OnImportCompleted(AsyncCompletedEventArgs args)
    {
        Console.WriteLine("ElectionHex Shapes Importing... done");

        Console.WriteLine("ElectionHex Shapes Initalizing... ");
        if (this.HexMap != null && HexSeries != null)
        {
            this.HexShapes = HexSeries.ShapefileDataSource;
            //var geoRect2 = HexShapes.ComputedWorldRect;
            //var labelPointX = await this.HexShapes.GetRecordValuesAsync("NamePosX");

            var stateCodes = await this.HexShapes.GetRecordValuesAsync("Code");
            var stateNames = await this.HexShapes.GetRecordValuesAsync("Name");
            var statehoods = await this.HexShapes.GetRecordValuesAsync("Statehood");
            var statePops  = await this.HexShapes.GetRecordValuesAsync("Population");

            var WinnerParty      = new string[stateCodes.Length];
            var WinnerEditable   = new string[stateCodes.Length];
            var WinnerElectors   = new string[stateCodes.Length];
            var WinnerVotes      = new string[stateCodes.Length];
            var WinnerPercentage = new string[stateCodes.Length];
            var LooserElectors   = new string[stateCodes.Length];
            var LooserVotes      = new string[stateCodes.Length];
            var LooserParty      = new string[stateCodes.Length];

            var ElectionYear     = new string[stateCodes.Length];
            var ElectionMode     = new string[stateCodes.Length];

            //HexMarkers = new List<HexMarker>();

            StatesLookup = new Dictionary<string, StateInfo>();

            var rand = new Random();
            var parties = new List<string> { "Republican", "Democrat", "Tossup" };
            for (var i = 0; i < stateCodes.Length; i++)
            {
                var info = new StateInfo();
                info.Name = (string)stateNames[i];
                info.Code = (string)stateCodes[i];
                info.Statehood = int.Parse(statehoods[i].ToString());
                info.Population = int.Parse(statePops[i].ToString());
                info.Index = i;

                StatesLookup.Add(info.Code, info);
                //ElectionService.Update(info);

                var p = rand.Next(0, parties.Count);
                WinnerParty[i] = parties[p];
                WinnerElectors[i] = rand.Next(5, 50).ToString();
                WinnerVotes[i] = (rand.Next(100000, 5000000) + rand.Next(100000, 700000)).ToString();
                WinnerPercentage[i] = rand.Next(5, 70).ToString();

                WinnerEditable[i] = "true";
                //ElectionYear[i] = "2020";
                ElectionYear[i] = "1880";
                ElectionMode[i] = ElectionDisplayMode.Popular.ToString();

                p = rand.Next(0, parties.Count);
                LooserParty[i] = parties[p];
                LooserElectors[i] = rand.Next(0, 2).ToString();
                LooserVotes[i]    = rand.Next(100000, 700000).ToString();

                //Logger.WriteLine("ElectionHex " + stateCodes[i] + " = " + bounds.X + " " +  x );
            }

            //await HexShapes.SetRecordValuesAsync("WinnerEditable", WinnerEditable);
            //await HexShapes.SetRecordValuesAsync("ElectionYear", ElectionYear);
            //await HexShapes.SetRecordValuesAsync("ElectionMode", ElectionMode);

            //await HexShapes.SetRecordValuesAsync("WinnerParty", WinnerParty);
            //await HexShapes.SetRecordValuesAsync("WinnerElectors", WinnerElectors);
            //await HexShapes.SetRecordValuesAsync("WinnerVotes", WinnerVotes);
            //await HexShapes.SetRecordValuesAsync("WinnerPercentage", WinnerPercentage);

            var geoRect = new Rect(-3, -3, 6, 6);
            await this.HexMap.UpdateWorldRectAsync(geoRect);

            //await Task.Delay(10);
            //this.HexMap.Zoomable = false;
        }

        StateHasChanged();

        Console.WriteLine("ElectionHex Shapes Initalizing...  done");

        await Task.Delay(1);
    }


    private void OnChanged(string prop)
    {
        //Console.WriteLine("ElectionHex OnChanged " + prop);

        Task.Delay(1).ContinueWith((t) => OnChangedAsync());
    }

    private async Task OnChangedAsync()
    {
        if (this.Election != null && this.HexMap != null && this.HexShapes != null)
        {
            Logger.WriteLine("ElectionHex OnChangedAsync... " + this.Election.Year);
            this.CurrentYear = this.Election.Year;

            var results = Election.ResultsByStates;
            var winnerParty = new string[results.Count];
            var winnerCandidate = new string[results.Count];
            var winnerElectors = new string[results.Count];
            var winnerVotes = new string[results.Count];
            var winnerPercentage = new string[results.Count];

            //var stateHeldElections = new string[results.Count];
            var ElectionYear = new string[results.Count];
            var ElectionMode = new string[results.Count];

            for (int i = 0; i < results.Count; i++)
            {
                ElectionYear[i] = Election.Year.ToString();

                if (StatesLookup.ContainsKey(results[i].StateSymbol))
                {
                    var state = StatesLookup[results[i].StateSymbol];
                    //var statWithElections = state.Statehood < 1840;
                    //var statWithElections = state.Statehood < Election.Year;
                    var shapeIndex = state.Index;
                    //electionYear[shapeIndex] = "1840"; // state.Statehood.ToString();
                    ElectionYear[shapeIndex] = this.Election.Year.ToString(); // state.Statehood.ToString();
                    ElectionMode[shapeIndex] = this.DisplayMode.ToString();

                    winnerParty[shapeIndex] = results[i].WinnerParty;
                    winnerCandidate[shapeIndex] = results[i].WinnerName;
                    winnerElectors[shapeIndex] = results[i].WinnerElectors.ToString();
                    winnerVotes[shapeIndex] = results[i].WinnerVotes.ToString();
                    winnerPercentage[shapeIndex] = results[i].WinnerPercentage.ToString();
                    //stateHeldElections[shapeIndex] = statWithElections.ToString();
                }
            }

            //await HexShapes.SetRecordValuesAsync("WinnerName", winnerCandidate);
            //await HexShapes.SetRecordValuesAsync("WinnerVotes", winnerVotes);
            await HexShapes.SetRecordValuesAsync("WinnerParty", winnerParty);
            await HexShapes.SetRecordValuesAsync("WinnerElectors", winnerElectors);
            await HexShapes.SetRecordValuesAsync("WinnerPercentage", winnerPercentage);
            await HexShapes.SetRecordValuesAsync("ElectionYear", ElectionYear);
            await HexShapes.SetRecordValuesAsync("ElectionMode", ElectionMode);
            //await HexShapes.SetRecordValuesAsync("ElectionsHeld", stateHeldElections);

            StateHasChanged();
        }

        await Task.Delay(1);
    }

    public int CurrentYear = 0;

    private Election _Election;
    [Parameter]
    public Election Election
    {
        get { return _Election; }
        set { _Election = value; this.OnChanged("Election"); }
    }

    private ElectionDisplayMode _DisplayMode = ElectionDisplayMode.Electoral;
    [Parameter]
    public ElectionDisplayMode DisplayMode
    {
        get { return _DisplayMode; }
        set { _DisplayMode = value; this.OnChanged("DisplayMode=" + value); }
    }

}
