@inject NavigationManager NavManager 

@*@inject HttpClient Http*@
@*@inject Infragistics.Samples.ElectionService ElectionService*@

<Infragistics.Samples.Pages.MapShapesView /> 
 
@*<Infragistics.Samples.Pages.ElectionSelector OnClick="OnClicked"/>*@

@*<Infragistics.Samples.Pages.ElectionHex />*@
@*<div class="igFill">
    <Infragistics.Samples.Pages.ElectionBubbles />
    <Infragistics.Samples.Pages.ElectionHex />
</div>*@


@code {

    protected override void OnInitialized()
    {
        Logger.WriteLine("App OnInitialized");
          
        //DataChartInteractivityModule.Register(IgniteUIBlazor);
        //GeographicMapModule.Register(IgniteUIBlazor);
     }

    private void OnClicked(int index)
    {
        Console.WriteLine("App OnClicked " + index);
    }

    protected override async Task OnInitializedAsync()
    { 

        Logger.WriteLine("App OnInitializedAsync");
        //Logger.WriteLine("App " + NavManager.BaseUri);
        //Logger.WriteLine("App " + NavManager.Uri);

        await Task.Delay(1);
    }
}